.appbox{
  box-sizing: border-box;
  background-color:burlywood;
  margin-left: 30%;
  width:40%;
  height:60%;
  color:black;
}
.displaybox{
  margin:2rem;
  padding:4rem;
  height: 20rem;
  border-radius: 2rem;
  background-color:rgb(222, 233, 122);
}
